.TopBar{
    background-color:rgb(47, 81, 110) ;
    color: aliceblue;
    height: 100%;
    
}

.TopBar div.container{
    margin: 0.5% 1%;
    /* width: 100%; */
}

/* .TopBar div.container span{
    margin: 0 10px;
} */

.TopBar #user-icon{
    position: absolute;
    right: 4%;
    /* margin-left: 90%; */
}

.TopBar #setting-icon{
    position: absolute;
    right: 1%;
    /* top: 5px; */
    /* display: inline-block; */
}
