.ChannelItemPage{
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.ChannelItemPage .container{
    margin: 1.5% 3%;
    /* background-color: black; */
}

.ChannelItemPage h1{
    font-size: 1.6em;
    padding: 1% 0 2%;
    /* background-color: aqua; */
}