.Contents{
    height: 100vh;
    display: flex;
    flex-flow: column;
    /* background-color: bisque; */
}

.Contents section.top-bar{
    background-color:rgb(47, 81, 110) ;
    flex: 1;
    color: white;
}

.Contents section.main-contents{
    flex: 19;
    /* background-color: bisque; */
}