.Contents{
    height: 100vh;
    display: flex;
    flex-flow: column;
    /* background-color: bisque; */
}

.Contents section.top-bar{
    flex: 1 10px;
    /* color: white; */
}

.Contents section.main-contents{
    flex: 18;
    /* overflow: scroll;
    overflow-x: hidden; */
    /* background-color: bisque; */
}