.App section.container{
    /* display: block-inline; */
    position: relative;
    /* white-space: nowrap; */
    height: 100vh;
    display: flex;
    vertical-align: top;
    background-color: aliceblue;
    /* background-color: antiquewhite; */
}

.App div.item1{
    display: inline-block;
    flex: 1 130px;
    height: 100vh;
    /* background-color:blanchedalmond; */
    /* border: solid black 1em; */
    
}

.App div.item2{
    display: inline-block;
    flex: 9;
    height: 100vh;
    /* background-color:blanchedalmond ; */
    /* overflow: scroll; */
}

.App section.add-button{
    position: absolute;
    bottom: 9%;
    right: 5%;
}

.App section.add-button:hover{
    zoom: 105%;
    cursor: pointer;
   
}

.App section.add-page{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    /* background-color: black; */
}